<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MedicalV2.Properties.Settings.medicalConnectionString"
            connectionString="server=localhost;user id=root;password=123;database=medical"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>